# BOT API
BOT_TOKEN=123456:ABCDEF
ADMIN_USER_ID=123456789

# TELETHON (my.telegram.org)
TG_API_ID=1234567
TG_API_HASH=0123456789abcdef0123456789abcdef
TG_PHONE=
TG_SESSION=telethon_user
DEST_CHAT_ID=-1003714740567

# INFRA
DB_PATH=./data/routes.db
LOG_LEVEL=INFO
